.main {
  background: $color2;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  // margin-bottom: 342px;
}

.about {
  min-height: calc(100vh - 66px);
}

.wrapper {
  &--fullscreen {
    min-height: 100vh;
    padding: 4rem 0;
  }

  &--padding {
    padding-top: 10rem;
  }
}



.about__columns {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  &--left {
    flex-basis: 45%;
  }

  &--right {
    flex-basis: 55%;
    padding-left: 100px;
  }
}

.main__title {
  font-size: 3rem;
  line-height: 3rem;
}

.column__subtitle {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.column__text {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.column__list {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  li {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.projects {
  background: $color3;
  color: $color2;
}

.projects__title {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.projects__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proget__list-item {
  max-width: 350px;
  height: 350px;
  margin-bottom: 2rem;
}

.card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 5px 15px 2px rgba(0,0,0,0.5);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0.8);
    transform: scale(1.01);
  }
}

.card__title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  color: $color2;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;

}

.card:hover .card__title {
  // display: block;
}


